/* 
Абсолютні одиниці виміру: px
Відносні одиниці виміру:  em (1em = 100%,% від шрифта батьк. ел.)
                        rem (1rem = 100% від рутового ел.)
                        vw|vh (1vw - 1% видимої частини вікна браузера)
*/


/* p {
    text-align: ;
    font-size: 1rem;
    font-family: ;
} */

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-style: normal;
}